//Login Area
$bg-color:rgb(189, 191, 200);
$login-area: #f6f6f4;
$background: radial-gradient(circle, rgba(189, 191, 200, 1) 0%, rgba(239, 238, 236, 1) 52%, rgba(167, 164, 167, 1) 100%);

//Global
$bg-main-content: #eee;
$border-color:#00171f;
$sidebar-color: #00171f;
$nav-color: #00171f;
$font-color: #f6f6f4;