@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');


// Variaveis
$bg-color: #f3ede3;
$border-color:#00171f;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Marvel', sans-serif;
    background-color: $bg-color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-area {
        border: 1px solid $border-color;
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
       

        .icon-user {
            margin-bottom: 20px;
            width: 200px;
            text-align: center;
        }

        form {
            width: 460px;
            height: 373px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            gap: 10px;
          
        }
    }

}